@import url("./components/avatar.css");
body{
    text-align: center;
}
x-avatar {
    position:relative;
    left:48%;

}

x-dash {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
}

x-dash[size=lg] {
    width: 3.5rem;
    height: 3.5rem;
}

x-dash img {
    border-radius: 9999px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}

table {
    display: flex;
    align-items: center;
    justify-content: center;
}
tbody, th, td, tr {
    border: 1px solid;
  }