@charset "UTF-8";

body {
    text-align: center;
}

h1 {
    background: -webkit-linear-gradient(166.66deg, rgb(34, 198, 227) 4.62%, rgb(23, 124, 207) 10.62%, rgb(116, 75, 196) 86.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    text-decoration: none; 
}

table {
    border: 1px solid;
    border-collapse: collapse;
    width:100%;
}


th, td, tr {
    border: 1px solid;
    padding-inline: 10px;
}

button{
    position: relative;
    top: 10px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

#header-policies {
    display: none;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hermes {
    width: 80%;
    display: flex;
    justify-content: center;
}

.operators{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation{
  position: absolute;
  font-size: larger;
  top:5%;
  right:3%;
  display: flex;
  flex-direction: row;
}

.notes{
  right: 5%;
  cursor: pointer;
}
.notes:hover .notes-desc{
  visibility: visible;
}
.notes-desc{
  font-size: medium;
  position: absolute;
  width: 300px;
  padding: 0px;
  right: 1px;
  text-align: end;
  visibility: hidden;
}

.swc-tooltip {
    position: relative;
    border-bottom: 1px dotted black;
    white-space:pre-wrap;
}
  
.swc-tooltip .swc-tooltiptext {
visibility: hidden;
background-color: #555;
color: #fff;
text-align: center;
position: absolute;
z-index: 1;
width: 80%;
padding: 10px;
bottom: 125%;
left: 10%;
opacity: 0;
transition: opacity 0.3s;
border-radius: 12px;
}
.swc-tooltip .swc-tooltiptext p{
font-size: large;
margin: 0px;
}

.swc-tooltip .swc-tooltiptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
margin-right: 5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}

.swc-tooltip:hover .swc-tooltiptext {
visibility: visible;
opacity: 1;
}

button {
    top: 100%;
    border-radius: 12px;
    background-color:  rgb(23, 124, 207) ;
    color: white;
    border-color: white;
    padding: 10px;
}

button:disabled {
    background-image: none;
    background-color: #ccc;
    opacity: 0.7;
}

.error {
    color: red;
    border-color:black;
}

.policy-header {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.policy-color {
    width:10px;
    height:10px;
    border-radius: 5px;
    background-color: blue;
    margin: 7px;
}

/* Dropdown Button */
.dropbtn {
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 30px;
  text-align: center;
  background-image: none;
  background-color: #ddd;
  color:black;
  padding: 0px;

}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(23, 124, 207);
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
  left: 36%;
  top: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 35px;
  background-color: #f6f6f6;
  min-width: 50px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

tr:hover .single-line-comment{
  opacity: 1;
  pointer-events: auto;
}
.single-line-comment{
  position:absolute;
  right: 20%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.single-line-comment:hover .hover-text{
  visibility: visible;
}

.hover-text{
  visibility: hidden;
  position: relative;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 2px;
  border-radius: 6px;
  z-index: 1;
}
.hover-text::after {
content: "";
position: absolute;
bottom: 100%;
left: 50%;
margin-left: -5px;
margin-right: 5px;
border-width: 5px;
border-style: solid;
border-color: transparent transparent #555 transparent;
}

.single-line-comment-popup{
  position: absolute;
  visibility: hidden;
  background-color: #bababa;
  padding: 5px;
  border-radius: 12px;
  top: 17px;
  left: -250px;
  z-index: 1;
}
.single-line-comment-popup::after {
content: "";
position: absolute;
bottom: 100%;
left: 50%;
margin-left: -5px;
margin-right: 5px;
border-width: 5px;
border-style: solid;
border-color: transparent transparent #bababa transparent;
}

input[type=text]{
  width:500px;
  border-radius: 12px;
}

#conflict{
  display: flex;
  flex-direction: row;
}

.comment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
